%h1= @article.title
%p= @article.category.name
%p= image_tag @article.image if @article.image.attached?  
%p= @article.body
%p 
  =t('author') 
  = @article.user.first_name
%p= @article.created_at.strftime("%F")
-if user_signed_in?
  -if current_user.editor?
    =link_to 'Publish Article', cms_article_path(@article, {publish: true}), method: :patch
= link_to 'back', articles_path 