.navbar.bg-red.list-reset.flex.pt-5.pb-5.justify-end
  %li.mr-6
    = link_to "Home", root_path

  -if user_signed_in?
    %li.mr-6
      %p= "Hello, #{current_user.first_name}!"
    %li.mr-6
      %p= link_to "Log out", destroy_user_session_path, method: :delete
    - unless current_user.transactions.any? || current_user.journalist?
      .bg-white.font-semibold.hover:text-white.py-2.px-4.rounded
        %p= link_to "Buy subscription", new_cms_transaction_path, class: 'text-black no-underline'
  - else
    %li.mr-6
      %p= link_to "Sign up", new_user_registration_path
    %li.mr-6
      %p= link_to "Log in", new_user_session_path