- @articles.each do |article|
  .w-64.rounded.shadow-lg.text-black.text-left.bg-grey-light.px-5.py-5.m-5.border-2.border-red.rounded-lg
    .font-mono
      %h3= link_to "#{article.title}", article
      %p= article.category.name
      %p= image_tag article.image if article.image.attached?  
      %p= article.lede
      %p 
        =t('author')
        = article.user.first_name
      %p= article.created_at.strftime("%F")