.flex.justify-center
  %h2 Edit
.mt-10.flex.justify-center
  .flex-col.bg-grey-light.max-w-sm.overflow-hidden.shadow-lg.pt-5.pb-5.pl-5.pr-5.border-2.border-black.rounded-none
    .field.text-center   
      = form_with model: @article, url: cms_article_path  do |form|
        - if @article.errors.any?
          %h2
            = pluralize(@article.errors.count, "error")
            prohibited
            this article from being saved:
          %ul
            - @article.errors.full_messages.each do |msg|
              %li= msg 
        %p
          = form.label :title
          %br/
          %br/
          = form.text_field :title
        %p
          %br/
          = form.label :lede
          %br/
          %br/
          .flex.justify-center
            .border-2.border-black.rounded-none.bg-white
              = form.text_area :lede
        %p
          %br/
          = form.label :body
          %br/
          %br/
          .flex.justify-center
            .border-2.border-black.rounded-none.bg-white
              = form.text_area :body
        %p
          %br/
          = form.label :image
          %br/
          %br/
          = form.file_field :image, class: "ml-24"
        %p
          %br/
          = form.label :author
          = form.label :user_id, value: @article.user.first_name
        %br
        = form.label :category 
        %br/
        %br/
        .Category= form.collection_select :category_id, Category.all, :id, :name 
        %br/
        %p
          = form.submit
        %br/


      = link_to 'Back to list', cms_articles_path